* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --heading-color: #EC083B;
    --text-color: #FFFFFF;
    --number-color: #858585;
    --number-color-highlight: #b4b4b4;
    --main-bg-color: #15191b;
  }
body {
    background-color: var(--main-bg-color);
    height: 100vh;
    overflow: hidden;
    width: 100%;
}
aside {
    width: 5%;
    width: 50px;
}
section {
    float: right;
    width: 97%;
    margin-top: 200px;
}

.welcome-left-border {
    border-right: 2px solid var(--number-color-highlight);
    width: 1px;;
    height: 500px;
    margin-left: 190px;
    margin-right: 25px;
    float: left;

}
 nav {
    height: 40px;
    display: flex;
    justify-content: left;
    /* margin-bottom: 10px; */
    border-bottom: 1px solid rgba(236, 8, 57, 0.411);;
 }

 nav ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 3px;
 }

 nav ul li {
    margin: 3px;
 }

nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding:  10px 15px 0 10px;
    color: var(--number-color);
    box-sizing: border-box;
    border: 2px solid transparent;
}

nav ul li a:hover {
    border-top: 2px solid var(--heading-color);
    border-left: 2px solid var(--heading-color);
    border-right: 2px solid var(--heading-color);
    /* margin-bottom: none; */
    color: var(--number-color-highlight);
}

.number-line {
    list-style-type: none;
   padding-top: 15px;
    margin-left: 15px;
    width: 40px;
    color: var(--number-color);
    user-select: none;
    /* border-left: 5px solid rgba(236, 8, 57, 0.411); */
    border-right: 1px solid rgba(236, 8, 57, 0.411);
}
.number-line ul {
    list-style-type: none;
}
.number:hover {
    color: var(--number-color-highlight);
}

.active::after {
    content: ' \25CF';
    color: rgb(190, 190, 190);
    
  }
