/* Global / general properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* variables  */
:root {
    --heading-color: #A676E0;
    --text-color: #FFFFFF;
    --text-color: #8585B6;
    --number-color-highlight: #c9a6f3;
    --main-bg-color: #171727;
    --border-line-color: #093e57;

    /*#C1C1D8, #8585B6  */
  }
body {
    background-color: var(--main-bg-color);
    height: 100vh;
    /* overflow: hidden; */
    font-family: lato , sans-serif
}


/* navigation section  */
nav {
    display: flex;
    border-bottom: 1px solid var(--heading-color);
}
 nav .navbar {
    height: 40px;
    display: flex;
    justify-content: right;    /* margin-bottom: 10px; */
    flex-grow: 3;
 }
nav .brand-name {
    display: flex;
    justify-content: left;
    /* background-color: blue; */
}
 nav ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 3px;
 }

 nav ul li {
    margin: 3px;
    font-size: 1.4em;
 }

nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding:  10px 15px 0 10px;
    color: var(--text-color);
    box-sizing: border-box;
    border: 2px solid transparent;
}

nav ul li a:hover {
    border-top: 2px solid var(--heading-color);
    border-left: 2px solid var(--heading-color);
    border-right: 2px solid var(--heading-color);
    /* margin-bottom: none; */
    color: var(--number-color-highlight);
}
.active::after {
    content: ' \25CF';
    color: rgb(190, 190, 190);
    
  }



/* main content section  */
.content {
    display: flex;
    column-gap: 50px;

}

.content p {
    color: var(--text-color);
    font-size: 1.4em;
    margin-top: 3px;
}

/* numberline section  */
.number-line {
    list-style-type: none;
   padding-top: 15px;
    margin-left: 15px;
    width: 40px;
    color: var(--text-color);
    user-select: none;
    /* border-left: 5px solid rgba(236, 8, 57, 0.411); */
    border-right: 1px solid var(--heading-color);
}
.number-line ul {
    list-style-type: none;
}
.number {
    padding: 5px;
}
.number:hover {
    color: var(--number-color-highlight);
}

#particles-js {
    width: 90%;
    height: auto;
    /* background-color: red; */
    
    z-index: -1;
}

.welcome {
    margin-top: 55px;  
    width: 65%;
    height: auto;
    padding-top: 5px;
    flex-grow: 4;
}
.welcome h4 {
    color: var(--number-color-highlight);
    font-size: 1.4em;
}
.welcome h2 {
    color: #A676E0;
}

  button {
    width: 140px;
    height: 50px;
    margin: 15px;
    margin-left: 0;
    padding: 5px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: none;
    background-color: var(--heading-color);
    cursor: pointer;

    
}

button:hover {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}  

.btn-resume {
    background-color: transparent;
    color: var(--heading-color);
    background-color: transparent;
    border: 1px solid var(--heading-color);
 }
 
 .about h3, .projects h3, 
.skills h3, .contact h3{
    color: var(--text-color);
    margin-top: 80px;
    font-size: 2.5em;
}

span {
    color: var(--heading-color);
}
.about {
    width: 65%;
}
.about div {
    margin-top: 15px;
}

.about h4 {
    font-size: 1.5em;
    color: var(--number-color-highlight);
}

.about .about-info ul li {
    color: var(--text-color);
    font-size: 1.4em;
    margin-top: 3px;
}

.projects {
    width: 65%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}


.project{
    width: 50%;
    /* height: 210px; */
    /* background-color: red; */
    border: 2px solid #8585B6;
    border-radius:20px;
    -webkit-border-radius: 20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    -webkit-border-radius:20px;
}

.project .portfolio-img {
    background-image: url('/imgs/placeholder.jpg');
}

.project .timer-img {
    background-image: url('/imgs/timer-project.PNG');
}
.project .converter-img {
    background-image: url('/imgs/temp-converter-project.PNG');
}
.project .quote-generator-img {
    background-image: url('/imgs/quote-generator-project.PNG');
}



.portfolio-img, .timer-img, .converter-img,
.quote-generator-img {
    width: 100%;
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0  0;
    -webkit-border-radius: 20px 20px 0  0;
    -moz-border-radius: 20px 20px 0  0;
    -ms-border-radius: 20px 20px 0  0;
    -o-border-radius: 20px 20px 0  0;
}
 /* .project img {
    width: 30%;
    height: 208px;
    border-radius: 25px 0 0 20px;
    -webkit-border-radius: 25px 0 0 20px;
    -moz-border-radius: 25px 0 0 20px;
    -ms-border-radius: 25px 0 0 20px;
    -o-border-radius: 25px 0 0 20px;
    flex-grow: 2;

}  */

.project .about-project {
    /* flex-grow: 3; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.project .project-title {
    color: #093e57;
    color: var(--text-color);
    font-size: 1.7em;
}

.stack {
    display: flex;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    column-gap: 10px;
}

.techstack {
    display: flex;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    color: var(--heading-color);
    column-gap: 5px;
    font-weight: bold;
}


/* .skills {

} */

/* contact section  */
.contact {
    width: 65%;
}
.contact, form {
    display: flex;
    flex-direction: column; 
}
form {
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
input {
    height: 45px;
    background-color: #2B2B46;
    border: none;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 15px;
    color: #C1C1D8;
}

input::placeholder, textarea::placeholder {
    color: #C1C1D8;
}
textarea {
    background-color: #2B2B46;
    color: #C1C1D8;
    border: none;
    outline: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 15px;
    resize: none;
}
